# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
ios/Flutter/.symlinks/
android/app/build/
android/.gradle/
android/local.properties
*.lock
*.log

# IDEs
.idea/
.vscode/
*.iml

# Artifacts
*.apk
*.aab
*.so
*.DS_Store

# Other
coverage/
